.container {
    color: rgb(255, 255, 255);
}

.title {
    font-size: 20px;
}

.whiteText {
    color: rgb(255, 255, 255) !important;
    margin: 0;
}

.anotherText {
    font-size: 0.75rem;
    text-align: left;
    margin-top: 8px;
    width: 450px;
}

.description {
    width: 450px;
    margin-left: 20px;
}

.form-group-parent {
    flex-direction: row !important;
}

.main-parent {
    width: 650px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919 !important;
}

a {
    color: white;
}